<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="/download" method="post">
  <button type="button" class="btn btn-primary">Download</button>
      </form>
  </body>
</html>
