@media screen and (max-width:1300px){

    .card-body{

        padding: 0px 0px !important;
    }
    a.btn.btn-warning{

        margin-left: 0px !important;
    }

    .page .row.my-5{

        margin-left: 125px !important;
    }

    .page h3.ml-0.text-white{

        margin: 0px -65px !important;
    }
}